.menu-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  list-style: none;}
  a {
    text-decoration:none;
  }

.parrafo{text-align: center;}
.direcciones{text-align: center;}

a {
  color: yellow;
}
img.logo {
  display: block;
  margin: 0px auto;
}
img.logo {
  width: 950px;
  height: 300px;
  border: 5px solid black;
}
h1 {
  color: #30AADD;
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  font-size: 100px;
  text-align: center;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: whitesmoke;
  text-align: center;
  font-size: 35px;
}
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: inherit;
  color: #00FFC6;
  text-align: center;
}

ul {
  display: block;
  text-align: center;
  padding-inline-end: 4%;
}
li {
  display: block;
  display: inline;
  text-decoration-line: underline;
}
footer {
  text-align: center;
}
a.index {
  margin-inline-end: 4%;
}
a.productos {
  margin-inline-end: 4%;
}
a.nosotros {
  margin-inline-end: 4%;
}
a.contacto {
  margin-inline-end: 4%;
}
ul.final {
  margin-inline-end: 4%;
  display: block;
  display: center;
}
.facebook {
  padding-right: 4%;
  margin-left: 4%;
}
.instagram {
  padding-right: 4%;
}
.camufladas {
  max-width: 100%;
  width: 300px;
  height: 300px;
}
.rositas {
  max-width: 100%;
  width: 300px;
  height: 300px;
}
.zaparoja{
  max-width: 100%;
  width: 300px;
  height: 300px;
}
.verde{
  max-width: 100%;
  width: 300px;
  height: 300px;
}


.rojas{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
  
}


.negras{ 

  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}

.floreadas{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}



.mochilaestampa{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}
.mochilagris{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}
.riño{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}
.riñonera{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}


.piluso{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}

.australiana{
  max-width: 100%;
  width: 300px;
  height: 300px;
  padding: 10px;
}




body {
  background-color: violet;
  
}

.button {text-align:end;}


.container-fluid{
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}


        
      
.carousel{
  width: 700px;
  margin: 0 auto;

}


.grid-container {
  display: grid;
  border-color: black;
}
@media screen and (min-width:300px) and (max-width:400px) {
  .div-responsive{
    background-color: rgb(193, 29, 144);
    padding: 10px;
  }
}





@media screen and (min-width:400px) and (max-width:650px) {
  .div-responsive{
    background-color: rgb(193, 29, 144);
    padding: 10px;
  }
}
@media screen and (min-width:650px) and (max-width:800px) {
  .div-responsive{
    background-color: red;
    padding: 10px;
  }
}
@media screen and (min-width:800px) and (max-width:1200px) {
  .div-responsive{
    background-color: rgb(4, 255, 0);
    padding: 10px;
  }
}



  
.transformaciones{
  transform: scale(2,1);
  }
img:hover{transform: scale(1.2);}

.menu-nav li:hover{
  background-color: goldenrod;
  padding: (10px 20px);
}
.menu-nav li{
height: 100px;
transition: height .5s;
}
.menu-nav li:hover{
height: 200px;
}
.formulario{
text-align: center;
padding-top: 10px;
}
.m-3{
  text-align: center;
}
@keyframes aparecer{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
h2{
animation-duration: 5s;
animation-name: aparecer;
animation-iteration-count:initial;
}
.parrafo-proyectoenrama{
  font-size: 10x;
  background-color:purple;
  padding: 10px;
}

.newsletter{
  text-align: center;
  padding: top 10px; ;
}